<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header clearfix text-center">
                Address <%= info.addr %>
            </div>

            <div class="card-body padding-0">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="tab-content">
                            <div id="home" class="container tab-pane active padding-0">
                                <h3>Overview</h3>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>balance</td>
                                                <td><%= info.balance %></td>
                                            </tr>
                                            <tr>
                                                <td>value</td>
                                                <td><%= info.value %></td>
                                            </tr>
                                            <tr>
                                                <td>txs</td>
                                                <td><%= info.txs %></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div id="home" class="container tab-pane active padding-0">
                            <h3>Overview</h3>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>balance</td>
                                            <td>0x3c23be475c039db71e88ffc2f34</td>
                                        </tr>
                                        <tr>
                                            <td>value</td>
                                            <td>0x3c23be475c039db71e88ffc2f34</td>
                                        </tr>
                                        <tr>
                                            <td>txs</td>
                                            <td>0x3c23be475c039db71e88ffc2f34</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">

                    <div class="col-xl-12">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home">Txs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#menu1">Internal txs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#menu2">Token transfer</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div id="home" class="container tab-pane active padding-0 margin-0">
                                <div class="table-responsive-sm">
                                    <table class="table table-bordered">
                                        <thead>
                                            <th>hash</th>
                                            <th>block</th>
                                            <th>from</th>
                                            <th>to</th>
                                            <th>amount</th>
                                            <th>fee</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="#">0x6c6ee5e31...e98ea48526e2</a>
                                                </td>
                                                <td>
                                                    <a href="#">89998</a>
                                                </td>
                                                <td>
                                                    <a href="#">0x6c6ee5e31...a48526e2</a>
                                                </td>
                                                <td>
                                                    <a href="#">0x6c6ee5e31d...48526e2</a>
                                                </td>
                                                <td>
                                                    19899
                                                </td>
                                                <td>
                                                    19899
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="menu1" class="container tab-pane fade padding-0 margin-0">
                                <div class="table-responsive-sm">
                                    <table class="table table-bordered">
                                        <thead>
                                            <th>hash</th>
                                            <th>block</th>
                                            <th>from</th>
                                            <th>to</th>
                                            <th>amount</th>
                                            <th>fee</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="#">0x6c6ee5e31...e98ea48526e2</a>
                                                </td>
                                                <td>
                                                    <a href="#">89998</a>
                                                </td>
                                                <td>
                                                    <a href="#">0x6c6ee5e31...a48526e2</a>
                                                </td>
                                                <td>
                                                    <a href="#">0x6c6ee5e31d...48526e2</a>
                                                </td>
                                                <td>
                                                    19899
                                                </td>
                                                <td>
                                                    19899
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="menu2" class="container tab-pane fade padding-0 margin-0">
                                <div class="table-responsive-sm">
                                    <table class="table table-bordered">
                                        <thead>
                                            <th>hash</th>
                                            <th>block</th>
                                            <th>from</th>
                                            <th>to</th>
                                            <th>amount</th>
                                            <th>fee</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="#">0x6c6ee5e31...e98ea48526e2</a>
                                                </td>
                                                <td>
                                                    <a href="#">89998</a>
                                                </td>
                                                <td>
                                                    <a href="#">0x6c6ee5e31...a48526e2</a>
                                                </td>
                                                <td>
                                                    <a href="#">0x6c6ee5e31d...48526e2</a>
                                                </td>
                                                <td>
                                                    19899
                                                </td>
                                                <td>
                                                    19899
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>