<div class="row">
    <div class="col-xl-12">
        <div class="card">

            <div class="card-header clearfix text-center">

                <button type="button" class="btn btn-outline-primary btn-sm float-left">Prev</button>
                <span class="text-center">block #189876</span>
                <button type="button" class="btn btn-outline-primary btn-sm float-right">Next</button>

            </div>
            <div class="card-body padding-0">
                <div class="table-responsive-sm">
                    <table class="table table-bordered">
                        <tbody>

                            <tr>
                                <td>Hash</td>
                                <td>0xfd733e1c7ac79620bd146b2cb04dd453f19e53c23be475c039db71e88ffc2f34</td>
                            </tr>
                            <tr>
                                <td>Difficulty</td>
                                <td>3,465,686,372,493,094</td>
                            </tr>
                            <tr>
                                <td>Miner</td>
                                <td>
                                    <a href="#">0xfd733e1c7ac79620bd146b2cb04dd453f1</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Reward</td>
                                <td>3.30376 ETH</td>
                            </tr>
                            <tr>
                                <td>Tx Fees</td>
                                <td>0.30376 ETH</td>
                            </tr>
                            <tr>
                                <td>Tx / Uncles</td>
                                <td>
                                    <a href="#">154 Transactions</a> and
                                    <a href="#">1 Uncle</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Gas Limit:</td>
                                <td>8,007,442</td>
                            </tr>
                            <tr>
                                <td>Gas Usage:</td>
                                <td>8,007,442</td>
                            </tr>
                            <tr>
                                <td>Lowest Gas Price:</td>
                                <td>8,007,442</td>
                            </tr>
                            <tr>
                                <td>Time</td>
                                <td>07/24/2018 10:07:25 AM (39 minutes ago)</td>
                            </tr>
                            <tr>
                                <td>Size</td>
                                <td>26,391 bytes</td>
                            </tr>
                            <tr>
                                <td>Extra</td>
                                <td>七彩神仙鱼 (Raw: 0xe4b883e5bda9e7a59ee4bb99e9b1bc)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer clearfix text-center">
                <button type="button" class="btn btn-outline-primary btn-sm float-left">Prev</button>
                <span class="text-center">block #189876</span>
                <button type="button" class="btn btn-outline-primary btn-sm float-right">Next</button>

            </div>
        </div>
    </div>
</div>