<!-- Footer -->
<footer class="page-footer font-small pt-3 bg-dark text-muted">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-5 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Ether search</h5>
                <p>Ethereum blockexplorer that supports full api and socket for creating an ethereum wallet(ERC20).</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Api</a>
                    </li>
                    <li>
                        <a href="#!">Wallet apps</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Info</h5>

                <ul class="list-unstyled">
                    <li>
                        <!-- <a href="#!">Link 1</a> -->
                        <span class="fa fa-youtube social-icon"></span>
                        <a href="https://www.youtube.com/channel/UC6dbBV2jyaOV-3b3Tboul9w" > Basic blockchain(Vietnamese)</a>
                    </li>
                    <li>
                        <span class="fa fa-github social-icon"></span>
                        <a href="https://github.com/blockdev-vn" class=""> Sources</a>
                    </li>
                    <li>
                        <span class="fa fa-facebook social-icon"></span>
                        <a href="https://www.facebook.com/groups/1561844270543595" class="">  &MediumSpace; Forum</a>
                    </li>
                    <li>
                        <span class="fa fa-envelope social-icon"></span>
                        <a href="#" class=""> Contact</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="#/"> blockdev</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="./javascripts/jquery-3.3.1/dist/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
<script src="./javascripts/common.js"></script>
<script src="./javascripts/moment.2.22.2.js"></script>
<script src="./javascripts/bignumber.min.7.2.1.js"></script>

<script>
    $(document).ready(()=>{
        $('.time-moment').each((idx, item)=>{
            var time = moment.unix($(item).text())
            // console.log($(item).text());
            var timeHtml = `<a href="#" data-toggle="tooltip" title="${time.format('MMMM Do YYYY, h:mm:ss a')}">${time.fromNow()}</a>`;
            $(item).html(timeHtml)
        })
        $('.bignumber').each((idx, item)=>{
            var num = new BigNumber($(item).text())
            // console.log(num.toString(10));
            if($(item).data('unit') == 'eth') {
                num = num.div(1e18)
            }
            var t = num.toString(10);
            // var timeHtml = `<a href="#" data-toggle="tooltip" title="${time.format('MMMM Do YYYY, h:mm:ss a')}">${time.fromNow()}</a>`;
            $(item).text(t)
        })
    })
</script>