<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <div class="card card-success">
            <div class="card-header clearfix col-header">

                <span class="float-left">Recent blocks</span>
                <button type="button" class="btn btn-outline-primary btn-sm float-right">View all</button>

            </div>
            <div class="card-body scrollbar block-col style-1 padding-0">

                <ul class="list-group">
                    <li class="list-group-item list-group-item-success">
                        <div class="row">
                            <div class="col-4">
                                block
                                <a href="#">19889</a>
                                <br>
                                <span>59s ago</span>
                                <br>
                                <span>3.375 eth</span>
                            </div>
                            <div class="col-8">
                                mined by
                                <a href="#">6019369601936960</a>
                                <br>
                                <a href="#">167 txs</a>
                                <br> uncle 0
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-secondary">
                        <div class="row">
                            <div class="col-4">
                                block
                                <a href="#">19889</a>
                                <br>
                                <span>59s ago</span>
                                <br>
                                <span>3.375 eth</span>
                            </div>
                            <div class="col-8">
                                mined by
                                <a href="#">6019369601936960</a>
                                <br>
                                <a href="#">167 txs</a>
                                <br> uncle 0
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <div class="row">
                            <div class="col-4">
                                block
                                <a href="#">19889</a>
                                <br>
                                <span>59s ago</span>
                                <br>
                                <span>3.375 eth</span>
                            </div>
                            <div class="col-8">
                                mined by
                                <a href="#">6019369601936960</a>
                                <br>
                                <a href="#">167 txs</a>
                                <br> uncle 0
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-warning">
                        <div class="row">
                            <div class="col-4">
                                block
                                <a href="#">19889</a>
                                <br>
                                <span>59s ago</span>
                                <br>
                                <span>3.375 eth</span>
                            </div>
                            <div class="col-8">
                                mined by
                                <a href="#">6019369601936960</a>
                                <br>
                                <a href="#">167 txs</a>
                                <br> uncle 0
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        <div class="row">
                            <div class="col-4">
                                block
                                <a href="#">19889</a>
                                <br>
                                <span>59s ago</span>
                                <br>
                                <span>3.375 eth</span>
                            </div>
                            <div class="col-8">
                                mined by
                                <a href="#">6019369601936960</a>
                                <br>
                                <a href="#">167 txs</a>
                                <br> uncle 0
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-primary">
                        <div class="row">
                            <div class="col-4">
                                block
                                <a href="#">19889</a>
                                <br>
                                <span>59s ago</span>
                                <br>
                                <span>3.375 eth</span>
                            </div>
                            <div class="col-8">
                                mined by
                                <a href="#">6019369601936960</a>
                                <br>
                                <a href="#">167 txs</a>
                                <br> uncle 0
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-dark">
                        <div class="row">
                            <div class="col-4">
                                block
                                <a href="#">19889</a>
                                <br>
                                <span>59s ago</span>
                                <br>
                                <span>3.375 eth</span>
                            </div>
                            <div class="col-8">
                                mined by
                                <a href="#">6019369601936960</a>
                                <br>
                                <a href="#">167 txs</a>
                                <br> uncle 0
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-light">
                        <div class="row">
                            <div class="col-4">
                                block
                                <a href="#">19889</a>
                                <br>
                                <span>59s ago</span>
                                <br>
                                <span>3.375 eth</span>
                            </div>
                            <div class="col-8">
                                mined by
                                <a href="#">6019369601936960</a>
                                <br>
                                <a href="#">167 txs</a>
                                <br> uncle 0
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <div class="card card-success">
            <div class="card-header clearfix col-header">

                <span class="float-left">Recent blocks</span>
                <button type="button" class="btn btn-outline-primary btn-sm float-right">View all</button>

            </div>
            <div class="card-body scrollbar block-col style-1 padding-0">

                <ul class="list-group">
                    <li class="list-group-item list-group-item-success">
                        tx
                        <a href="#">0x8827175e28e...357acc889e64</a>
                        <br> from
                        <a href="#">0x88271500...44889e64</a> to
                        <a href="#">0x44889e64...44889e64</a>
                        <br>
                        <span>amount 19.378ETH</span>
                        <span class="float-right">90s ago</span>
                    </li>
                    <li class="list-group-item list-group-item-secondary">
                        tx
                        <a href="#">0x8827175e28e...357acc889e64</a>
                        <br> from
                        <a href="#">0x88271500...44889e64</a> to
                        <a href="#">0x44889e64...44889e64</a>
                        <br>
                        <span>amount 19.378ETH</span>
                        <span class="float-right">90s ago</span>

                    </li>
                    <li class="list-group-item list-group-item-info">
                        tx
                        <a href="#">0x8827175e28e...357acc889e64</a>
                        <br> from
                        <a href="#">0x88271500...44889e64</a> to
                        <a href="#">0x44889e64...44889e64</a>
                        <br>
                        <span>amount 19.378ETH</span>
                        <span class="float-right">90s ago</span>
                    </li>
                    <li class="list-group-item list-group-item-warning">
                        tx
                        <a href="#">0x8827175e28e...357acc889e64</a>
                        <br> from
                        <a href="#">0x88271500...44889e64</a> to
                        <a href="#">0x44889e64...44889e64</a>
                        <br>
                        <span>amount 19.378ETH</span>
                        <span class="float-right">90s ago</span>

                    </li>
                    <li class="list-group-item list-group-item-danger">
                        tx
                        <a href="#">0x8827175e28e...357acc889e64</a>
                        <br> from
                        <a href="#">0x88271500...44889e64</a> to
                        <a href="#">0x44889e64...44889e64</a>
                        <br>
                        <span>amount 19.378ETH</span>
                        <span class="float-right">90s ago</span>
                    </li>
                    <li class="list-group-item list-group-item-primary">
                        tx
                        <a href="#">0x8827175e28e...357acc889e64</a>
                        <br> from
                        <a href="#">0x88271500...44889e64</a> to
                        <a href="#">0x44889e64...44889e64</a>
                        <br>
                        <span>amount 19.378ETH</span>
                        <span class="float-right">90s ago</span>
                    </li>
                    <li class="list-group-item list-group-item-dark">
                        tx
                        <a href="#">0x8827175e28e...357acc889e64</a>
                        <br> from
                        <a href="#">0x88271500...44889e64</a> to
                        <a href="#">0x44889e64...44889e64</a>
                        <br>
                        <span>amount 19.378ETH</span>
                        <span class="float-right">90s ago</span>
                    </li>
                    <li class="list-group-item list-group-item-light">
                        tx
                        <a href="#">0x8827175e28e...357acc889e64</a>
                        <br> from
                        <a href="#">0x88271500...44889e64</a> to
                        <a href="#">0x44889e64...44889e64</a>
                        <br>
                        <span>amount 19.378ETH</span>
                        <span class="float-right">90s ago</span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
