<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">Ether search</a>

    </div>

    <div class="my-auto d-inline col-lg-6 col-md-6 col-xm-12 col-sm-9 nav navbar-nav navbar-right">
        <form class="my-auto d-inline"  method="GET" action="/search">
            <div class="input-group input-group-sm">
                <input type="text" name="d" class="form-control border border-right-0 input-sm" placeholder="Block number / Tx hash / Address">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary border border-left-0 input-sm" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</nav>