<a href="/contract" class="btn btn-link" role="button">Smart-Contracts</a> <br>
<div class="row">
    <div class="col-xl-12">
        <p>Welcome to etherseach. (Running PoA private net cause of lacking budget to rent server)</p>
    </div>
</div>