<!doctype html>
<html lang="en">

<head>
    <%include ./partials/header %>
</head>

<body>
  <% include ./partials/nav-bar %>
  <div class="container-fluid">
    <% include ./partials/welcome %>
    <% include ./partials/addr-detail %>
  </div>
  <% include ./partials/footer %>

  <script type="text/javascript">

  $(document).ready(function() {
    // Hide result alert
    var alertRs = $("#search-alert");
    alertRs.hide()
    
    var searchBtn = $("#btn-erc20-search");
    searchBtn.on('click', function(){
      var contractAddr = $("#txt-erc20-address").val();
      var address = $("#txt-address").val();
     
      $.ajax({
          url: './api/addr/erc20/txs',
          data: {a: address, c: contractAddr},
          type: 'GET',
          dataType: 'json',
          
      })
      .done(function(rs) {
            // console.log(rs)
            alertRs.hide()
            displayErc20History(rs.data)
      })
      .fail(function(){
            // console.log("fail");
            showResultInfo("There are errors. Please check input format.")
            
      });
    })

    function displayErc20History(data) {
      var tbody = $('#erc20-history');
      // console.log(data);
      tbody.empty()
      if (!data.length) {
        showResultInfo("There are no records.")
      }
      data.forEach(tx => {
        var row = `<tr>
                      <td>
                          <a href="/tx?hash=${tx.hash}">${Common.shortTextEndingWithDot(tx.hash, 20)}</a>
                      </td>
                      <td>

                        <a href="#" data-toggle="tooltip" title="${moment.unix(tx.blockTime).format('MMMM Do YYYY, h:mm:ss a')}">
                          ${moment.unix(tx.blockTime).fromNow()}
                        </a>

                          
                      </td>
                      <td>
                          <a href="/addr?a=${tx.from}">${Common.shortTextEndingWithDot(tx.from,20)}</a>
                      </td>
                      <td>
                          <a href="/addr?a=${tx.to}">${Common.shortTextEndingWithDot(tx.to,20)}</a>
                      </td>
                      <td>
                          ${tx.value}
                      </td>
                    </tr>`;
        tbody.append(row)
      });
    }
    function showResultInfo(msg) {
        alertRs.text(msg);
        alertRs.show()
    }
  });
    
    
  </script>
</body>

</html>