<!doctype html>
<html lang="en">

<head>
  <%include ./partials/header %>
</head>

<body>
  <% include ./partials/nav-bar %>
  <div class="container-fluid">
    <% include ./partials/welcome %>
    <% include ./partials/contract-list %>
  </div>
  <% include ./partials/footer %>
</body>

</html>