<!doctype html>
<html lang="en">

<head>
    <%include ./partials/header %>
</head>

<body>
  <% include ./partials/nav-bar %>
  <div class="container-fluid">
    <% include ./partials/welcome %>
    <% include ./partials/home %>
  </div>
  <% include ./partials/footer %>
  <script src="javascripts/socket.io-client-2.1.0/dist/socket.io.js"></script>

<script src="javascripts/socket.js"></script>
<script>
    var listBlocks = $("#list-blocks")
    var listTxs = $("#list-txs")
    // listBlocks.empty();
    // listTxs.empty();
    var txRowFlag = 0;
    function handleTx(tx) {
        // console.log("New tx", tx);
        // console.log(txRowFlag);
        var liClass = txRowFlag == 0 ? 'secondary':'success';
        txRowFlag = txRowFlag^1;
        var txValue = new BigNumber(tx.value).div(1e18).toString(10)
        var li = `<li class="list-group-item list-group-item-${liClass}">
                        hash 
                        <a href="/tx?hash=${tx.hash}">${Common.shortTextEndingWithDot(tx.hash, 40)}</a> <br>
                        from <a href="/addr?a=${tx.from}">${Common.shortTextEndingWithDot(tx.from, 20)}</a> to <a href="/addr?a=${tx.to}">${Common.shortTextEndingWithDot(tx.to, 20)}</a>
                        <br>
                        value <span>${txValue} ETH</span>
                    </li>`;

        if (listTxs.find('li').length > 10) {
          $("#list-txs li:last").remove()
        }
        listTxs.prepend(li)
    }
    function handleBlock(block) {
        // console.log("New block", block);
        var liClass = block.number%2==0?'secondary':'success'
        var li = `<li class="list-group-item list-group-item-${liClass}">
            <div class="col-12">
                block
                <a href="/block?number=${block.number}">${block.number}</a>
                (<a href="#" class="time-moment" data-toggle="tooltip" data-time="${block.time}" title="${moment.unix(block.time).format('MMMM Do YYYY, h:mm:ss a')}">${moment.unix(block.time).fromNow()}</a>)
                <br>
                mined by
                <a href="/addr?a=${block.miner}">${block.miner}</a><br>
                <span>txs ${block.txNumber} </span>
                <span>uncles ${block.uncleNumber}</span>
                <!-- <span>3.375 eth</span> -->
        </div>
        </li>`;
        if (listBlocks.find('li').length > 10) {
          $("#list-blocks li:last").remove()
        }
        listBlocks.prepend(li)
    }
    var socket = new Socket('http://<%=SERVER_IP%>', handleBlock, handleTx)
    // var socket = new Socket('http://localhost:3001', handleBlock, handleTx)
    socket.start()

    // Update time of block every second

    function updateBlockTime() {
        $('.time-moment').each(function(idx,el){
            var timeEl = $(el);
            console.log(timeEl.text());
            var time = timeEl.data('time');
            var fromNow = moment.unix(time).fromNow()
            timeEl.text(fromNow);
        })
    }
</script>
</body>

</html>