

.scrollbar
{
    height: 600px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 5px;
}


/*
 *  STYLE 1
 */

.style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.padding-0 {
    padding: 0 !important;
}
.margin-0 {
    margin: 0 !important;
}
.col-header {
    padding-top: 5px !important;
    padding-bottom: 1px !important;
    vertical-align: middle;
}
.col-header span {
    font-weight: bold;
}

.table td, .table th {
	padding: 0.25rem !important;
}
.fa {
	padding-right: 5px;
}
.social-icon {
	color: white;
	font-size: 20px !important;
}
